/PYFIT-FF-1.0/input/*
/PYFIT-FF-1.0/output/*
/PYFIT-FF-0.1/input/*
/PYFIT-FF-0.1/output/*
*__pycache__*
*.pyc
*/output/*
/PYFIT-FF-1.0/images/*
/PYFIT-FF-1.0/log.txt
/PYFIT-FF-1.0/output_*/
/PYFIT-FF-1.0/slurm.sh
/average-error-and-rcf-consistency-study/*
/PYFIT-FF-1.0/param-eval-test-100-iter-AB/*
/PYFIT-FF-1.0/_out*
/PYFIT-FF-1.0/config/*
/input/*
*.nogit.*
